@import '_main.scss';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;

}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}


body {
  background-image: url(https://img.goodfon.com/wallpaper/big/e/3a/gory-u-podnozhiya-pustyr.webp);
  background-position: center;
  background-size: cover;
}